@font-face {
  font-family: 'MyFont';
  src:
    url('@/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --dark-color-background: #1f252f;
  --dark-color-font: #f2f2eb;
  --dark-border-color: #babbb8;
}



body {
    font-family: 'MyFont', sans-serif;
    /* background-color: rgb(252, 250, 243); */
    letter-spacing: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--dark-color-font);
    text-transform: uppercase;
}


